@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a1a;  /* Dark */
  color: white;
  font-family: 'Arial', sans-serif;
}

.button-focus:focus {
  outline: none;
  ring: 2px solid red;
  box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.5);
}

.error {
  color: #ff0000;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}